/** {
  outline: 1px dashed brown;
}*/

html,
body {
  min-width: 1440px;
  min-height: 2475px;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family:  "Roboto",  "Arial" , Sans-Serif;
  color: #283136;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Стилизация хэдера*/

.main-header {
  padding-top: 50px; 
  color: #000000;
  background-color: #eeeeee;
}

.main-navigation {
  position: relative;
  float: left;
  width: 980px;
}

.main-navigation .logo {
  position: absolute;
  padding: 0;
  width: 160px;
  height: 65px;
}

.main-navigation .logo:hover {
  opacity: 0.8;
}

.main-navigation .logo:active {
  opacity: 0.3;
}

.main-navigation .logo-index-page:hover,
.main-navigation .logo-index-page:active {
  opacity: 1;
}

.main-navigation ul {
  margin: 0;
  margin-left: 337px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding-top: 25px; 
  padding-left: 24px;
  padding-right: 23px; 
  padding-bottom: 10px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation .active {
  position: relative;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  left: 24px;
  bottom: 5px;
  right: 23px;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation .active a:hover,
.main-navigation .active a:active {
  color: #000000;
  opacity: 1;
}

.user-block {
  float: right;
  max-width: 160px;
}

.cart {
  position: relative;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 41px;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.cart::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #eeeeee url("../img/spritesheet.png") no-repeat -5px -179px;
}

.cart:hover {
  color: #fb565a;
}

.cart span:active {
  color: #000000;
  opacity: 0.3;
}

.slider {
  position: relative;
  width: 1160px;
  height: 430px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 105px;
  left: 50%;
  z-index: 1000;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  font-size: 0;
  text-align: center;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background: #ffffff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before{ 
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-info {
  width: 518px;
}

.slogan {
  margin: 0;
  margin-top: 78px;
  margin-bottom: 25px;
}

.slogan b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: right;
  color: #000000;
}

.slider-text {
  margin: 0;
  margin-bottom: 40px;
  padding-right: 100px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 16px 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family:  "Roboto",  "Arial" , Sans-Serif;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn span:active {
  opacity: 0.3;
}

.slider-info .btn {
  margin-bottom: 82px;
}

.slide:nth-child(1) {
  background: #eeeeee url("../img/slider-phones_1.png") no-repeat 100% 100%;
}

.slide:nth-child(2) {
  background: #eeeeee url("../img/slider-computers_1.png") no-repeat 100% 100%;
}

.slide:nth-child(3) {
  background: #eeeeee url("../img/slider-tablets_1.png") no-repeat 100% 100%;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}

.slider-info .btn:hover {
  background-color: #e74246;
}

.slider-info .btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
} 

.slider-info .btn:active{
  background-color: #d7373b;
}

/*Стилизация главной страницы*/

.services  {
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  position: relative;
  float: left;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.services-item:last-child {
  margin-right: 0px;
}

.services-item-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #eeeeee url("../img/sprite.png") no-repeat 0 -292px;
}

.services-item-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #eeeeee url("../img/sprite.png") no-repeat;
}

.services-item-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #eeeeee url("../img/sprite.png") no-repeat 0 -146px;
}

.services-item  h2 {
  margin-top: 171px;
  margin-bottom: 16px;
  font-size: 24px; 
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item  p{
  margin-top: 0;
  margin-bottom: 33px;
  padding-right: 20px;
  font-size: 16px; 
  line-height: 24px;
  color: #283136;
}

.services-item .btn {
  padding: 16px 40px;
}

.services-item-1 .btn:hover {
  background-color: #e74246;
}

.services-item-1 .btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
} 

.services-item-2 .btn {
  background-color: #00ca74; 
}

.services-item-2 .btn:hover {
 background-color: #00bc6c; 
}

.services-item-2 .btn:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
} 

.services-item-3 .btn {
  background-color: #efc84a  
}

.services-item-3 .btn:hover {
  background-color: #eab534;  
}

.services-item-3 .btn:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
} 

.index-content {
  padding-top: 40px;
  padding-bottom: 72px;
  border-bottom: 2px solid #eeeeee;
}

.index-content-left {
  float: left;
  width: 660px;
}

.index-content-left  p {
  margin-top: 0;
  margin-bottom: 39px;
  color: #283136;
}

.index-content-left  .about-us {
  margin-top: 34px;
  margin-bottom: 33px;
}

.about-us b {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.index-content-left  .we-do {
  margin-bottom: 24px;
}

.we-do b {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.index-content-services {
  margin: 0;
  padding-left: 37px;
  list-style: none;
}

.index-content-services li {
  position: relative;
  margin-top: 24px;
}

.index-content-services li:first-child {
  margin-top: 0px;
}

.index-content-services li::before {
  content: "";
  position: absolute;
  bottom: 11px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.index-content-right {
  float: right;
  width: 360px;
}

.index-content-right  img {
  margin-bottom: 30px;
}

.index-content-right p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.index-content-right b {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.benefits {
  float: left;
  margin-right: 9px;
  padding-top: 38px;
  width: 110px;
}

.benefits-rate {
  margin-bottom: 35px;
  font-size: 45px;
  line-height: 10.06px;
  color: #000000;
}

.benefits-rate sup {
  font-size: 65%;
}

.benefits-value {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.partners ul {
  width: 1160px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  vertical-align: top;
  font-size: 0px;
  line-height: 0;
  border-bottom: 2px solid #eeeeee;
}

.logo-partners li {
  position: relative;
  display: inline-block;
  width: 260px;
  margin-right: 40px;
  cursor: pointer;
}

.logo-partners li img {
  opacity: 0.2;
}

.logo-partners li:last-child {
  margin-right: 0;
}

.logo-partners li::before {
  content: "";
  position: absolute;
  top: 65px;
  right: -20px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.logo-partners li:last-child::before {
  display: none;
}

.logo-partners li img:hover {
  opacity: 1;
} 

.logo-partners li img:active {
  opacity: 0.1;
} 

/*Стилизация страницы каталога*/

.main-title {
  margin-bottom: 57px;
}

.main-title h1 {
  margin: 0;
  padding-top: 76px;
  padding-bottom: 103px;
  text-align: center;
  font-size: 55px; 
  line-height: 1;
  color: #000000;
}

.container-left {
  float: left;
  width: 260px;
  margin-right: 140px;
}

.filter-title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.range-filter .filter-title {
  margin-top: 4px;
  margin-bottom: 49px;
  letter-spacing: 1px;
}

.range-filter {
  width: 260px;
  margin-bottom: 54px;
}

.range-controls {
  position: relative;
  margin-bottom: 14px;
  padding: 0 20px;
  padding-top: 39px;
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.range-controls .min-toggle {
  left: 18px;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
} 

.max-price {
  text-align: right;
}

.min-price {
  text-align: left;
}

.price-controls input {
  margin-left: 10px;
  padding: 8px 10px;
  width: 60px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto",  "Arial" , Sans-Serif;
  font-weight: 400px;
  text-align: center;
  color: #283136;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.filter-radiobutton {
  font-size: 0;
}

.filter-radiobutton .filter-title {
  margin-bottom: 15px;
}

.filter-radiobutton label input[type="radio"] {
  display: none;
}

.filter-radiobutton label {
  position: relative;
  display: inline-block;
  margin-bottom: 21px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #283136;
  cursor: pointer;
}

.filter-radiobutton label input[type="radio"] + .radiobutton-indicator {
  position: absolute;
  top: -4px;
  left: 1px;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border: 4px solid #b8b8b8;
  border-radius: 50%;
}

.filter-radiobutton label input[type="radio"]:checked + .radiobutton-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background-color: #b8b8b8;
  border-radius: 50%;
}

.container-right {
  float: left;
  width: 760px;
  margin-bottom: 60px;
}

.horizontal-filter {
  margin-bottom: 51px;
  padding-top: 2px;
}

.horizontal-filter .filter-title {
  float: left;
  width: 160px;
}

.filter-type {
  position: relative;
  float: right;
  width: 375px;
  font-size: 0;
}

.filter-type a {
  display: inline-block;
  padding: 0 13px;
  font-size: 14px;
  line-height: 18px;
  vertical-align: bottom;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.filter-type .icon {
  padding: 0;
  padding-bottom: 4px;
  width: 9px;
  height: 9px;
  font-size: 0;
  background: url("../img/spritesheet.png") no-repeat;
}

.filter-type .icon-down {
  margin-left: 37px;
  background-position: -5px -141px;
}

.filter-type .icon-up {
  margin-left: 20px;
  background-position: -5px -160px;
}

.filter-type a:hover {
  opacity: 0.6;
}

.filter-type a:active {
  opacity: 1;
}

.filter-type .active {
  opacity: 1;
}

.catalog {
  margin-bottom: 24px;
  width: 760px;
  font-size: 0px;
}

.catalog-item img {
  width: 360px;
  height: 616px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  height: 616px;
  margin-right: 40px;
  margin-bottom: 37px;
  vertical-align: top;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item .catalog-item-info {
  position: absolute;
  bottom: 0px;
  width: 240px;
  padding: 0 60px;
  background: #eeeeee;
  color: #666666;
}

.catalog-item .catalog-item-info h2 {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 17px;
  text-align: center;
  font-size: 18px; 
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item .catalog-item-info p {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
  font-size: 16px; 
  line-height: 18px;
  color: #666666;
}

.catalog-item .catalog-item-info .long-text {
  padding-left: 0;
  padding-right: 0;
}

.catalog-item .info-price {
  margin-left: 20px;
  margin-bottom: 43px;
  padding: 16px 63px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.catalog-item:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.catalog-item:hover::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: 0;
  background: url("../img/browser.png") no-repeat;
}

.catalog-item .catalog-item-info {
  display: none;
}

.catalog-item:hover  .catalog-item-info{
  display: block;
}

.catalog-item .btn:hover {
  background-color: #e74246;
}

.catalog-item .btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
} 

.paginator {
  width: 443px;
  font-size: 0px;
  white-space: nowrap;
}

.paginator a {
  display: inline-block;
  margin-right: 11px;
  padding: 17px 20px;
  height: 16px;
  min-width: 10px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 4px;
}

.paginator .active {
  padding: 14px 17px;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.paginator .active:hover,
.paginator .active:active {
  padding: 17px 20px; 
}

.paginator .next {
  padding: 17px 78px;
}
.paginator a:hover {
  background-color: #dfdfdf;
  border: none;
}

.paginator a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  border: none;
}

.paginator span:active {
  opacity: 0.3;
}

/*Стилизация футера*/

.location {
  position: relative;
  width:1440px;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  position: absolute;
  top: 54px;
  left: 141px;
  width: 219px;
  height: 208px;
  padding: 49px 50px;
   font-weight: 400;
  background-color: #ffffff;
}

.contacts-title {
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.address {
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.tel {
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts .btn {
  padding: 15px 43px;
}

.contacts .btn:hover {
  background-color: #e74246;
}

.contacts .btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
} 

.map {
  width: 1440px;
  height: 416px;
}

.footer-bottom {
  padding: 69px 0;
}

.social {
  float: left;
  width: 260px;
  margin-right: 140px;
  font-size: 0;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50%;
  background: #e1e1e1;
}

.social-btn-inst {
  margin-right: 0px;
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 27px;
  width: 26px;
  height: 15px;
  background: url("../img/icon-vk.png") no-repeat;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 35px;
  width: 12px;
  height: 22px;
  background: url("../img/icon-fb.png") no-repeat;
}

.social-btn-inst::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 21px;
  height: 21px;
  background: url("../img/icon-insta.png") no-repeat;
}

.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-inst:active::before {
  opacity: 0.3;
}

.social-btn:hover {
  background-color: #e74246;
}

.footer-text {
  float: left;
  width: 760px;
}

.footer-text h3 {
  margin: 0;
  margin-top: 7px;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-text p {
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}




