* {
  outline: 1px dashed brown;
}

html,
body {
  min-width: 1440px;
  min-height: 2475px;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family:  "Roboto",  "Arial" , Sans-Serif;
  color: #283136;
  
}

h1  {
  font-size: 55px; 
  line-height: 1;
  color: #000000;
  margin: 0;
  padding-top: 76px;
  padding-bottom: 103px;
  text-align: center;
}

h2 {
    font-size: 24px; 
    line-height: 1,25;
    color: #000000;
    text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding-top: 50px;  /*чтобы опустить немного от верхушки */
  color: #000000;
  background-color: #eeeeee;
}

.main-navigation {
  position: relative;
  float: left;
  width: 980px;
}

.main-navigation .logo {
  position: absolute;
  padding: 0;
  width: 160px;
  height: 65px;
}

.main-navigation .logo:hover {
  opacity: 0.8;
}

.main-navigation .logo:active {
  opacity: 0.3;
}

.main-navigation ul {
  margin: 0;
  margin-left: 360px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding-top: 25px; 
  padding-right: 47px; 
  padding-bottom: 10px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.user-block {
  float: right;
  max-width: 160px;
}

.cart {
  position: relative;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 41px;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.cart::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #eeeeee url("/Users/RitaDzhubaba/Documents/273089-nerds/img/icon-cart.png") no-repeat;
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  color: #000000;
  opacity: 0.3;
}

.cart:active::before {
  opacity: 1
}

.slider {
  position: relative;
  width: 1160px;
  height: 430px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 105px;
    left: 50%;
    z-index: 1000;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background: #ffffff;
    border: 5px solid #ffffff;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-info {
  width: 518px;
}

.slogan {
  margin: 0;
  padding-top: 76px;
  padding-bottom: 25px;
}

.slogan b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: right;
  color: #000000;
}

.slider-text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.btn {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family:  "Roboto",  "Arial" , Sans-Serif;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.slider-info .btn {
  margin-bottom: 82px;
}

.slide:nth-child(1) {
background: #eeeeee url("/Users/RitaDzhubaba/Documents/273089-nerds/img/slider-phones_1.png") no-repeat 100% 100%;
}

.slide:nth-child(2) {
background: #eeeeee url("/Users/RitaDzhubaba/Documents/273089-nerds/img/slider-computers_1.png") no-repeat 100% 100%;
}

.slide:nth-child(3) {
background: #eeeeee url("/Users/RitaDzhubaba/Documents/273089-nerds/img/slider-tablets_1.png") no-repeat 100% 100%;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

.slider-info .btn::before {
  content: "узнать больше";
  position: absolute;
  top: 16px;
  left: 53px;
  }

.slider-info .btn:hover {
  background-color: #e74246;
}

.slider-info .btn:active {
  background-color: #d7373b
} 

.slider-info .btn:active::before {
  opacity: 0.3;
}

.slider-info .btn {
  width: 241px;
  height: 50px;
}

.slider-info .btn:active{
  background-color: #d7373b;
}

.services  {
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.services-item:last-child {
  margin-right: 0px;
}

.services-item  h2 {
  margin-bottom: 0;
  font-size: 24px; 
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item  p{
  margin: 0;
  padding-top: 15px;
  padding-bottom: 32px;
  font-size: 16px; 
  line-height: 24px;
  color: #283136;
}

.services-item .btn {
  width: 160px;
  height: 50px;
}

.services-item .btn::before {
  content: "заказать";
  position: absolute;
  top: 16px;
  left: 40px;
  }

.services-item-1 .btn:hover {
  background-color: #e74246;
}

.services-item-1 .btn:active {
  background-color: #d7373b
} 

.services-item-1 .btn:active::before {
  opacity: 0.3;
}

.services-item-2 .btn {
 background-color: #00ca74; 
}

.services-item-2 .btn:hover {
 background-color: #00bc6c; 
}

.services-item-2 .btn:active {
  background-color: #00aa62;
} 

.services-item-2 .btn:active::before {
  opacity: 0.3;
}

.services-item-3 .btn {
background-color: #efc84a  
}

.services-item-3 .btn:hover {
background-color: #eab534;  
}

.services-item-3 .btn:active {
  background-color: #e5a722;
} 

.services-item-3 .btn:active::before {
  opacity: 0.3;
}

.index-content {
  padding-top: 40px;
  padding-bottom: 56px;
  border-bottom: 2px solid #eeeeee;
}

.index-content-left {
  float: left;
  width: 660px;
}

.index-content-left  p {
  color: #283136;
}

.about-us {
  margin-top: 35px;
  margin-bottom: 30px;
}

.about-us b {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.we-do {
  margin-top: 40px;
}

.we-do b {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.index-content-services {
  padding-left: 37px;
  list-style: none;
}

.index-content-services li {
  margin-top: 25px;
}

.index-content-right {
  float: right;
  width: 360px;
}

.index-content-right p{
  margin: 0;
  margin-top: 30px;
  text-align: center;
}

.index-content-right b {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.benefits {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 15px;
  width: 100px;
  height: 120px;
}

.benefits-rate {
  position: absolute;
  top: 40px;
  font-size: 45px;
  line-height: 10.06px;
  color: #000000;
}

.benefits-rate sup {
  font-size: 65%;
}

.benefits-value {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.partners ul {
  width: 1160px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  vertical-align: top;
  font-size: 0px;
  line-height: 0;
  border-bottom: 2px solid #eeeeee;
}

.logo-partners li {
  display: inline-block;
  width: 260px;
  margin-right: 40px;
  opacity: 0.2;
  cursor: pointer;
}

.logo-partners li:last-child {
  margin-right: 0;
}

.logo-partners li:hover {
  opacity: 1;
} 

.logo-partners li:active {
  opacity: 0.1;
} 

.location {
  position: relative;
  width:1440px;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  position: absolute;
  top: 54px;
  left: 141px;
  width: 219px;
  height: 208px;
  padding: 50px 50px;
  background-color: #ffffff;
}

.contacts-title {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-catalog-item {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts .btn {
  margin-top: 24px;
  padding: 16px 43px;
}

.contacts .btn::before {
  content: "напишите нам";
  position: absolute;
  top: 16px;
  left: 43px;
  }

.contacts .btn:hover {
  background-color: #e74246;
}

.contacts .btn:active {
  background-color: #d7373b
} 

.contacts .btn:active::before {
  opacity: 0.3;
}


.social {
  float: left;
  width: 260px;
  margin-right: 140px;
  font-size: 0;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 60px;
  margin-right: 10px;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50%;
  background: #e1e1e1;
}

.social-btn-vk {
  background: #e1e1e1 url("/Users/RitaDzhubaba/Documents/273089-nerds/img/icon-vk.png") no-repeat 50% 50%; 
  }

.social-btn-fb{
  background: #e1e1e1 url("/Users/RitaDzhubaba/Documents/273089-nerds/img/icon-fb.png") no-repeat 50% 50%; 
}

.social-btn-inst {
  background: #e1e1e1 url("/Users/RitaDzhubaba/Documents/273089-nerds/img/icon-insta.png") no-repeat 50% 50%; 
  margin-right: 0px;
}

.social-btn:hover {
  background-color: #e74246;
}

.footer-text {
  float: left;
  width: 760px;
  padding-top: 70px;
}

.footer-text h3 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-text p {
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-title {
  margin-bottom: 57px;
}

.container-left {
  float: left;
  width: 260px;
  margin-right: 140px;
}

.container-right {
  float: left;
  width: 760px;
  margin-bottom: 60px;
}

.catalog {
  width: 760px;
  margin-bottom: 60px;
  font-size: 0px;
}

.catalog-item {
  display: inline-block;
  margin-right: 40px;
  vertical-align: top;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.paginator {
  width: 443px;
  font-size: 0px;
  /*white-space: nowrap;*/
}

.paginator a {
  display: inline-block;
  height: 50px;
  min-width: 50px;
  font-size: 16px;
}


